# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Keys directory
keys

package-lock.json

.build
.sonarlint
.history
.vscode
.idea
.DS_Store

# Logs
*.log

# docker
docker
.dynamodb
